/* Sailor Moon Main Page Styles */


body {
    background-image: url('../web/bg-details.png'); /* Standard syntax (must be last) */
    font-family: 'Inconsolata', monospace;
}

.logo {
    margin: 20px 0;
    width: 80%;
}

.logo-bg {
    background-color: #fff;
}

.container {
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #fff;
}

.card, .card-img-top {
    border: none;
    border-radius: 0%;
}

/* nav */
nav {
    font-family: 'Fredoka One', cursive;
    text-transform: uppercase;
}


nav a {
    color: #F06DA5;
    text-decoration: none;
}

nav a:hover {
    color: #8864af;
    text-decoration: none;
}

.nav-bg {
    background-color: #fff;
}

/* btns */

.btn-light {
    border: 3px solid #DBD4F0;
    border-radius: 5%;
}

.btn-light:hover {
    border: 3px solid #DBD4F0;
}

.btn-dark {
    background-color: #02A7E0;
    border: 3px solid #B9E5CE;
    border-radius: 5%;
    margin-right: 5px;
}

.btn-dark:hover {
    background-color: #006e93;
    border: 3px solid #B9E5CE;
}

/* footer */
.credit-text {
    color: #F069A3;
    margin-bottom: 40px;
}

.featured-credit {
    font-weight: bold;
    text-decoration: none;
    color: #F069A3;
}

footer {
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Inner Page Personality Styles */
.breakdown {
    color: #784478;
    font-weight: bold;
}

.heading {
    color: #F079AC;
    font-family: 'Pacifico', cursive;
    font-size: 70px;
}

.second-heading {
    color: #CCCDEF;
    font-size: 40px;
    font-weight: bold;
}

.top-section {
    display: flex;
    justify-content: space-between;
}

.sailor-star {
   position: absolute;
   right: 250px;
}

/* Paragraphs */
.personality-paragraph p {
    width: 70%;
    font-size: 15px;
    font-weight: bold;
}

.first-paragraph {
    color: #CB86CB;
}

.second-paragraph {
    color: #D16794;
}

.third-paragraph {
    color: #7F76A1;
}

.fourth-paragraph {
    color: #CB86CB;
}

/* Footer */
.page-credit {
    margin-top: 100px;
    padding-bottom: 50px;
}



/* CARDS PAGE */

.card-row {
    display: flex;
    justify-content: space-evenly;
}